.container-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 150px;
  height: 100vh;
  color: #7e7d7d;
  background-color: #fff;
}

.container-sidebar ul {
  line-height: 2rem;
  padding: 0;
}

.container-sidebar li {
  list-style: none;
  padding-bottom: 0.6rem;
}

.container-sidebar a {
  text-decoration: none;
  color: #7e7d7d;
}